<table cellspacing="15">
  <tr>
  <th><%= link_to 'New article', new_article_path %></th>
  <th><%= link_to 'Log-Out', destroy_user_session_path, :method => :delete %></th>
  <th><%= link_to 'Sign-In', user_session_path, :method => :post %></th>
</table>
<h1 style="font-site:20 pt ; font-family:'Bookman Old Style'; text-align: center;color:#2E8B57">Listing articles</h1>
 
<table align="center" border="1">
  <tr>
    <th id="title">Title</th>
    <th id="title">Text</th>
    <th id="title">Information</th>
    <th id="title", colspan="3">Option</th>
  </tr>

  <% @articles.each do |article| %>
 <div>
    <tr id="listing">
     <div>
      <td><%= article.title %></td>
      <td><%= article.text.truncate(358).html_safe() %></td>
      <td><%= article.created_at.strftime('%b %d, %Y') %></br><%= article.user.email %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <% if article.user == current_user %>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
      <%end%>
     </div>
    </tr>
</div>
  <% end %>
</table>

