<div class="well">
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 <p>
  <strong>Text:</strong>
  <%=@article.text.html_safe()%>
</p>
 </div>
<h2>Comments: <%=@article.comments.count%> </h2>
<div class="well">
<%= render @article.comments %>
<%= Time.now.strftime("%m/%d/%Y") %>
</div>

 
<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_article_path(@article), :class => "btn btn-default" %> |
<%= link_to 'Back', articles_path, :class => "btn btn-default" %>
