<h1 style="font-site:20 pt ; font-family:'Bookman Old Style'; color:#2E8B57">Listing articles</h1>
 
<table>
  <tr>
    <th id="title">Title</th>
    <th id="title">Text</th>
    <th colspan="3"></th>
  </tr>
 
  <% @articles.each do |article| %>
 <div>
    <tr id="listing">
     <div>
      <td><%= article.title %></td>
      <td><%= article.text.truncate(358).html_safe() %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
     </div>
    </tr>
</div>
  <% end %>
</table>
<%= link_to 'New article', new_article_path %>
